.profile{
    display: flex;
    background-color: #202020;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.profile__title{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    text-align: center;
    margin: 0;
}
.profile__text-container{
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    margin-top: 123px;
}
.profile__text-content{
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    width: 100%;
}
.profile__text-content ~ .profile__text-content {
    margin-top: 17px;
}
.profile__container{
    max-width: 410px;
    width: 100%;
    margin-top: 74px;
}
.profile__links{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
.profile__link-redact{
    text-align: center;
}
.profile__link-exit{
    text-align: center;
    text-decoration: none;
}
.profile__label,
.profile__input{
    display: inline-flex;
    margin: 0 0 16px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    text-align: right;
    color: #fff;
}
.profile__label {
    flex-shrink: 0;
}
.profile__input {
    flex-grow: 1;
    background-color: #202020;
    border: none;
    padding: 0px;
    outline: none;
}
.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:hover,
.profile__input:-webkit-autofill:focus {
    box-shadow: inset 0px 0px 0px 50px #202020;
    -webkit-text-fill-color: #fff;
}
.profile__input-error {
    color: #f00;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    margin: 10px 0px 15px 0px;
    max-width: 100%;
}
.profile__text-content:first-of-type{
    border-bottom: 1px solid #E8E8E8;
}
.profile__link-redact{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #fff;
    margin-bottom: 16px;
    background: #202020;
    border: none;
}
.profile__link-redact[disabled] {
    opacity: 0.5;
}
.profile__link-exit{

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #FF3055;
}
@media (max-width: 780px) {
    .profile__container{
        margin-top: 236px;
    }
}
@media (max-width: 460px) {
  .profile__container{
    max-width: 260px;
  }
}
.profile__overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.profile__form{
    background: white;
    display: flex;
    flex-direction: column;
}
.profile__edit-button_novalidate {
    cursor: unset;
}
.profile__popup{
    display: flex;
    background: white;
}
.profile__popup-text{
    padding: 15px;
}
.profile__overlay_active{
    display: flex;
}
