.student__stag{
    max-width: 600px;
    width: 100%;
    margin: 0 0 26px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
}
@media (max-width: 450px) {
    .student__stag{
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 20px;
    }
}