.promo__nav{
  font-family: Inter, serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-decoration: underline;
  height: 18px;
  width: 67px;
  text-align: center;
  margin-left: 40px;
}
.promo__nav:first-child{
  margin-left: 0;
}
@media (max-width: 320px) {
    .promo__nav{
      font-size: 11px;
      margin-left: 24px;
    }
}
@media (max-width: 320px) {
    .promo__nav:first-child{
      margin-left: 0;
    }
}